<% @players.each do |player| %>
<div class="player-containter ib">

  <h5 class='ib'> <%= link_to(player.first_name + ' ' + player.last_name, player_path(player.id)) %> </h5> 
  <div class="image-player">
    <%= image_tag(player.image, height: '100', width: '100') %>
  </div>
  
</div>
<% end %>