body {
  text-align: center;
}
.ib {
  display: inline-block;
}

.nav-list li {
  display: inline;
  padding: 0 10px;
}

#yield_container {
  margin: 0px 150px;
}
 .player-container {
  margin: 10px 15px;    
}
.form-div {
  margin: 10px;
}
